@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Rubik, sans-serif;
}


/* Main Page */

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #333; 
}

.logo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.my-list-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-list-button:hover {
  filter: brightness(110%);
}

.my-list-button:active {
  transform: translateY(5%);
}


/* Search Bar */

form {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
}

#search-input {
  font-size: 16px;
  font-family: Rubik, sans-serif;
  color: white;
  margin-left: 14px;
  border: none;
  background: transparent;
  width: 300px;
}

#search-input:focus {
  outline: none;
}


#search-input::placeholder,
.fa-magnifying-glass {
  color: rgba(0, 0, 0, 0.5);
}