@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  font-family: Rubik, sans-serif;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 20px;
  z-index: 100;
}

.logo {
  color: white;
  font-size: 24px;
  user-select: none;
  background: transparent;
}

/* Search Bar */

form#form {
  flex: 1;
  margin: 0 20px;
  position: relative; 
  user-select: none;
}

#search-input {
  max-width: 800px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-family: Rubik, sans-serif;
  background: rgb(24, 23, 23);
  color: white;
}
::placeholder {
  color: white;
}

.search-button {
  position: relative;
  top: 2px;
  right: 41px;
  font-size: 20px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  filter: brightness(90%);
}

/* Search results */

.result-box {
  max-height: 300px;
  max-width: 816px;
  overflow-y: auto;
  position: absolute;
  top: calc(96%);
  width: 100%;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  outline: none;
  z-index: 100;
}

.result-box li {
  padding: 10px;
  list-style: none;
  border-top: 1px solid #131313;
}

.result-box li a{
  text-decoration: none;
  color: white;
}

.result-box li:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

/* My List Button */

.my-list-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.my-list-button:hover {
  filter: brightness(90%);
}

.my-list-button:active {
  transform: translateY(5%);
}

.my-list-button span {
  margin-left: 5px;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Anime Pages */
#anime-page-container {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: rgb(192, 192, 192);
}
.titleContainer {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: #494949;
  margin-bottom: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 1);
}
.scoreInfoContainer {
  display: flex;
  justify-content: center;
}

.scoresDiv {
  background: #333;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 20px;
  border: 1px solid black;
}

.scoresDiv h3 {
  margin-left: 20px;
}

/* Rating section */
.ratingContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  background: #333;
  color: white;
  outline: none;
}

select option {
  font-size: 14px;
}

select option:hover {
  background: #4e4e4e;
}

/* Synopsis */

.synopsisDiv {
  position: relative;
  text-align: left;
  line-height: 1.5rem;
  height: 5%;
  width: 50%;
  color: rgb(255, 255, 255);
  background: #333;
  margin: 0 auto;
}


/* Media Queries */

/* Styles for smartphones */
@media (max-width: 428px) {
  .navbar {
    display: flex;
    flex-direction: column;

  }

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 35px;
  }

  .search-button {
    position: absolute;
    left: 280px;
    font-size: 22px;
  }

  #search-input {
    margin-bottom: 20px;
    width: 300px;
  }

  .my-list-button {
    position: relative;
    bottom: 5px;
  }

  .result-box {
    position: relative;
    bottom: 22px;
    width: 316px;
  }

  .synopsisDiv {
    width: 100%;
  }

  .synopsisDiv p {
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    width: 95%;
  }
}