/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    height: auto;
    table-layout: fixed;
}

/* Style for table headers */
th {
    background: #1b1b1b;
    padding: 10px;
    text-align: left;
    color: white;
}

/* Style for table rows */
tr {
    border-bottom: 1px solid #000000;
    background: rgb(114, 114, 114);
    height: 50px;
}

/* Style for table data cells */
td {
    padding: 10px;
    color: white;
}

/* Style for images within table cells */
td img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid white;
}

/* Style for alternating row colors */
tr:nth-child(even) {
    background: #424242;
}


/* Design for delete button */

.delete-button {
    background: transparent;
    color: #ffffff; 
    border: none; 
    padding: 4px 6px; 
    cursor: pointer; 
    border-radius: 5px;
}

.delete-button i {
    font-size: 18px; 
    color: white;
}

.delete-button:active {
    transform: translateY(2px);
}