/* Main Page Top 25 Animes */
#main-page {
  text-align: center; 
}

.main-title {
  background: rgba(0, 0, 0, 0.4);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px; 
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  user-select: none;
}

.anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.anime-link {
  text-decoration: none;
}

.main-page-container {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  background: rgb(63, 63, 63);
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.main-page-container:hover {
  transform: translateY(-2%);
  filter: brightness(110%);
}

.main-page-container:active {
  transform: translateY(1%)
}

/* Style for title */
.main-page-container h3 {
  margin: 0; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  max-width: 100%;
  margin-bottom: 10px;
}

/* Style for rank */
.main-page-container h2 {
  font-size: 20px;
  color: #ffffff;
  height: 24px; 
  margin-bottom: 25px;
}

.main-page-container h3 {
  color: rgb(182, 182, 182);
}

.main-page-container img {
  height: 300px; 
}

/* Style for image */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  align-self: center; 
}

/* Media Queries */

@media (max-width: 703px) {
  .main-title {
    font-size: 45px;
  }
}

@media (max-width: 537px) {
  .main-title {
    font-size: 40px;
  }
}

@media (max-width: 483px) {
  .main-title {
    font-size: 35px;
  }
}

@media (max-width: 428px) {
  .main-title {
    font-size: 30px;
  }
}

@media (max-width: 373px) {
  .main-title {
    font-size: 25px;
  }
}
